.header {
    grid-area: h;
    background-color: lightgreen;
}

.header img {
    margin-left: 50px;
    height: 60px;
    width: 100px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}