.headerPhoto {
    height: 400px;
    width: 100%;
    background: url("http://h2.hqtexture.com/98/9735/1457619934-1.jpg");
    background-size: cover;
}

.descriptionBlock {
    padding: 10px;
}

.spanText {
    color: white;
    font-size: large;
}

.mainPhoto {
    max-width: 200px;
}

.contact {
    padding-left: 10px;
}